.nav-item{
    margin: 10px
}

.nav-container{
    display: flex;
    justify-content: flex-end;
}

.projectCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.single-card{
    margin: 15px;
    height: 300px ;
    
}

.header{
    color: aqua;
    align-items: center;
    background-color: black;
    justify-content: center;
    justify-content: space-around;
    text-justify: center;
}

.footer {
    color: aqua;
    align-items: center;
    background-color: black;
    justify-content: center;
}
.container{
    justify-content: center;
    vertical-align: middle;
    margin-top: 50px;
}
.contact{
    justify-content: center;
    background-color: aqua;
}